{% extends 'POS/layout.html'%} {%load static%} {%block body%}

<div id="container">
  <img src="http://placehold.it/3000x3000/cf5" />
</div>

<div id="overlay">
  <div id="progstat"></div>
  <div id="progress"></div>
</div>

<div class="mt-20 max-vs:mt-[6.6rem]">
  <div class="rounded-3xl border h-fit border-indigo-200 mx-4 mb-4">
    <div
      class="w-full flex flex-row py-2 bg-gray-200 rounded-t-3xl px-8 space-x-4 flex-wrap"
    >
      <a href="{% url 'product:unitpage' %}"
        
        class="relative  my-1 flex justify-center items-center px-2 py-1 text-white bg-indigo-700 rounded-md focus:outline-none"
      >
        <i class="mdi mdi-plus text-white text-base max-sm:text-xs"></i>
        <span class=" mx-1 text-xs text-white">Add Unit</span>
      </a>

      <a href="{% url 'product:productlist' %}"
       
        class="relative  my-1 flex justify-center items-center px-2 py-1 text-white bg-indigo-700 rounded-md focus:outline-none"
      >
        <i class="mdi mdi-view-module-outline text-white text-base max-sm:text-xs"></i>
        <span class=" mx-1 text-xs text-white">Product list</span>
      </>
      
      <a href="{% url 'product:add_package'%}"
    
        class=" my-1 relative flex justify-center items-center px-2 py-1 text-white bg-indigo-700 rounded-md focus:outline-none"
      >
      <i class="mdi mdi-package-variant text-white text-base max-sm:text-xs"></i>
        <span class=" mx-1 text-xs text-white"> Package</span>
      </a>
    </div>
    <!-- component -->
    <!-- component -->
    {% if edit %}
    
    <form
    method="post"
    enctype="multipart/form-data"
    class="mb-4 pb-10 px-2 mx-4"
    action="{% url 'product:edit_product_process' product.id%}" 
    id="product-form"
  >
    {%else%}    <form
      method="post"
      enctype="multipart/form-data"
      class="mb-4 pb-10 px-2 mx-4"
      action="{% url 'product:addProduct'%}" 
      id="product-form"
    >
    {%endif%}
      {% csrf_token %}
      <div class="text-gray-700 my-2">Add Product</div>
      <hr class="h-[1px] w-full bg-gray-600 mb-2" />

      <div
        class="w-full h-full flex justify-between items-start flex-row max-vs:flex-col"
      >
        <div
          class="w-[45%] max-lg:w-[50%] max-vs:w-full flex flex-col justify-start items-start px-4 max-vs:px-1"
        >
          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product Code</label
              >
              <div class="flex">{{ form.code }}</div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product Name</label
              >
              <div class="flex">{{ form.name}}</div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product Category</label
              >
              <div class="flex">
                {{ form.category }}
                <a href="{% url 'product:categorypage' %}" class="-ml-1 p-2 h-full bg-indigo-600 rounded-r-lg z-20">
                  <i class="mdi mdi-plus text-white text-lg"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product SubCategory</label
              >
              <div class="flex">
                {{form.subcategory}}
                <a href="{% url 'product:subcategorypage' %}" class="p-2 h-full bg-indigo-600 rounded-r-lg -ml-1 z-20">
                  <i class="mdi mdi-plus text-white text-lg "></i>
                </a>
              </div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product Unit</label
              >
              <div class="flex">
                {{ form.item_unit}}
                <a href="{% url 'product:unitpage' %}" class="p-2 h-full bg-indigo-600 rounded-r-lg -ml-1 z-20">
                  <i class="mdi mdi-plus text-white text-lg  "></i>
                </a>
              </div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product Supplier</label
              >
              <div class="flex ">
                {{ form.supplier }}
                <a href="{% url 'suppliers:add_supplier' %}" class="p-2 h-full bg-indigo-600 rounded-r-lg -ml-1 z-20">
                  <i class="mdi mdi-plus text-white text-lg "></i>
                </a>
              </div>
            </div>
          </div>
          <div class="flex w-full items-start justify-start">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1">Notes</label>
              <div class="flex w-full">{{ form.notes }}</div>
            </div>
          </div>
        </div>
        <div class="w-[45%] max-lg:w-[50%] max-vs:px-1 px-4 max-vs:w-full">
          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Cost Price</label
              >
              <div class="flex">{{ form.cost_price }}</div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Markup Value</label
              >
              <div class="flex">
                

                {{ form.markup }}              </div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >profit margin</label
              >
              <div class="flex">
              {{form.profit_margin}}
              </div>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >selling price</label
              >
              <div class="flex">{{ form.selling_price }}</div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Minimum stock level</label
              >
              <div class="flex">{{ form.minimum_stock_level }}</div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Expire date</label
              >
              <div class="flex">{{ form.expiry_date }}</div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="w-full mb-4">
              <label for="" class="text-xs font-semibold px-1"
                >Product Image</label
              >
              <div class="flex items-center justify-center w-full">
                <label
                  for="dropzone-file"
                  class="flex flex-col items-center justify-center w-full h-32 border border-indigo-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                >
                  <div
                    class="flex flex-col items-center justify-center pt-5 pb-6"
                  >
                    <svg
                      class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 20 16"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                      />
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                      <span class="font-semibold">Click to upload</span> or drag
                      and drop
                    </p>
                    <p class="text-xs text-gray-500 dark:text-gray-400"></p>
                  </div>
                  {%if form.product_image.value%}

   
    <div class="change-image">
        {{ form.product_image }}
    </div>
                  {%else%}
                  {{ form.product_image.product_image }}
                  {%endif%}
                  <input id="dropzone-file" type="file" class="hidden" /> 
                </label>
              </div>
              <div class="relative flex flex-col w-fit mt-2  ">
                <div id="remove-image" style="display: none;" class="right-1 absolute w-7 h-7 z-20 -mb-6 ">
                <span  class=" rounded-full bg-indigo-700 p-1  flex justify-center items-center"> <i class="mdi mdi-delete  text-white text-base "></i></span>
              </div>
              <img id="image-preview" src="" class="w-20 h-20  rounded-md" alt="Image Preview" style="display: none;">
            </div>


            </div>
          </div>
        </div>
      </div>
      <hr class="h-[1px] w-full bg-gray-600 mb-2" />

      <div class="flex">
        <div class="w-full">
          <button
            class="block w-full max-w-xs mx-auto text-base bg-indigo-600 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-5 py-2"
          >
            save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  .progress-container {
    width: 100%;
    height: 5px; /* Height of the progress bar */
    background-color: #ccc; /* Background color of the progress container */
  }

  .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #3498db; /* Color of the progress bar */
    transition: width 0.3s; /* Transition effect for smoother progress */
  }
</style>
<script>
  (function () {
    function id(v) {
      return document.getElementById(v);
    }
    function loadbar() {
      var ovrl = id("overlay"),
        prog = id("progress"),
        stat = id("progstat"),
        img = document.images,
        c = 0,
        tot = img.length;
      if (tot == 0) return doneLoading();

      function imgLoaded() {
        c += 1;
        var perc = (((100 / tot) * c) << 0) + "%";
        prog.style.width = perc;

        if (c === tot) return doneLoading();
      }
      function doneLoading() {
        ovrl.style.opacity = 0;
        setTimeout(function () {
          ovrl.style.display = "none";
        }, 1200);
      }
      for (var i = 0; i < tot; i++) {
        var tImg = new Image();
        tImg.onload = imgLoaded;
        tImg.onerror = imgLoaded;
        tImg.src = img[i].src;
      }
    }
    document.addEventListener("DOMContentLoaded", loadbar, false);
  })();


  $(document).ready(function() {
    $('.select').select2();
});

if (document.getElementById("close")){
document.getElementById("close").addEventListener("click",()=>{
    modal=document.getElementById("alert")
    modal.classList.add("hidden")
})
}
</script>


<script>
  const imageInput = document.getElementById('dropzone-file');
  const imagePreview = document.getElementById('image-preview');
  const removeImageButton = document.querySelector('#remove-image');

  imageInput.addEventListener('change', function () {
      const file = imageInput.files[0];

      if (file) {
          const reader = new FileReader();

          reader.onload = function (e) {
              imagePreview.src = e.target.result;
              imagePreview.style.display = 'block';
              removeImageButton.style.display = 'block';
          };

          reader.readAsDataURL(file);
      } else {
          imagePreview.src = '';
          imagePreview.style.display = 'none';
          removeImageButton.style.display = 'none';
      }
  });


  if (removeImageButton){
  removeImageButton.addEventListener('click', function () {
        imagePreview.src = '';
        imagePreview.style.display = 'none';
        removeImageButton.style.display = 'none';
        imageInput.value = null;  // Clear the input field
    });
  }
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const costPriceInput = document.getElementById("unit_cost_price");
        const markupInput = document.getElementById("markup");
        const sellingPriceInput = document.getElementById("unit_selling_price");
        const profitForecastInput = document.getElementById("profit_forecast");

        // Function to calculate selling price and profit forecast based on cost price and markup
        function calculateValues() {
            const costPrice = parseFloat(costPriceInput.value);
            const markup = parseFloat(markupInput.value);
          

            if (!isNaN(costPrice) && !isNaN(markup)) {
                let selling_price =parseFloat(markup *costPrice )
                sellingPriceInput.value = selling_price.toFixed(2);
                let profit_margin=parseFloat(selling_price-costPrice );
                profitForecastInput.value=profit_margin.toFixed(2 )
                console.log("hello")
            }
            else{
              let selling_price =0
                sellingPriceInput.value = selling_price.toFixed(2);
                let profit_margin=0
                profitForecastInput.value=profit_margin.toFixed(2 )
                console.log("hello2")
            }
           
        }



        function calculateValuesBySeling() {
            const costPrice = parseFloat(costPriceInput.value);
            const markup = parseFloat(markupInput.value);
          

            if (!isNaN(costPrice) && !isNaN(markup)) {
                let markup =parseFloat(sellingPriceInput.value/costPrice )
                markupInput.value = markup.toFixed(2);
                let profit_margin=parseFloat(sellingPriceInput.value-costPrice );
                if(profit_margin <0){
                  profit_margin=0
                }
                profitForecastInput.value=profit_margin.toFixed(2 )
                console.log("hello")
            }
            else{
              let selling_price =0
                markupInput.value = selling_price.toFixed(2);
                let profit_margin=0
                profitForecastInput.value=profit_margin.toFixed(2 )
                console.log("hello2")
            }
           
        }

        // Enable markup, selling price, and profit forecast inputs when cost price is entered
        costPriceInput.addEventListener("input", function () {
          
     let currentValue= costPriceInput.value
if (currentValue.length!="") {
            markupInput.removeAttribute("disabled");
            sellingPriceInput.removeAttribute("disabled");
            profitForecastInput.removeAttribute("disabled");
}
else{

           markupInput.disabled=true
            sellingPriceInput.disabled=true
            profitForecastInput.disabled=true
}

        });

        // Calculate values when markup is entered
        markupInput.addEventListener("input", calculateValues);
        sellingPriceInput.addEventListener("input", calculateValuesBySeling)

    });


     
    let z=document.getElementsByClassName("change-image")
   for  (var i=0;i<z.length;i++){
z[i].style.display='none';
   }
  ;
</script>

<style>
  /* preloader.css */

  img {
    width: 32.2%;
  }

  #overlay {
    position: absolute;
    z-index: 70;
    top: 0;
    left: 0;
    width: 100%; /* Make overlay cover the full width of the viewport */
    height: 10px; /* Make overlay cover the full height of the viewport */
    transition: 1s 0.4s;
  }

  #progress {
    height: 3px;
    background: rgb(99 102 241);
    position: absolute;
    width: 0; /* will be increased by JS */
    top: 0;
    left: 0; /* Start progress bar from the left */
  }

  #progstat {
    font-size: 0.7em;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .select2-selection__rendered {
    padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-right: 0.75rem; 
padding-left: 1rem; 
border-radius: 0.5rem; 
border-width: 1px; 
border-color: #D1D5DB; 
outline-style: none; 
width: 100%; 
height: 44px !important;
  }
  .select2-container .select2-selection--single {
    border: 0 !important;
    
    border-radius: 0;
    background: #fff !important;
    height: 44px !important;
  }
  .select2-selection__arrow {
    border: 0 !important;
    height: 44px !important;
    border-radius: 0;
    font-size: 14px;
    line-height: 30px !important;
   
  }
</style>
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{%endblock%}
